<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Фреймы</title>
 </head>
 <body id="a">
   <div class="border">
     <div class="otstup">
     <p><b>Число размещений без повторений</b></p>
         <span class="formula">
         <p><i>A </i><span><sup><input type="text" id="vvod_a_m" placeholder="m" class="vvod"></sup><sub><input type="text" id="vvod_a_n" placeholder="n" class="vvod"></sub></span> = <output id="result_a">Результат</output></p>
       </span>
       <input type="button" value="Вычислить" onclick="print_a_res()">

       <br>
       <br>
       <br>

     <p><b>Число размещений с повторениями</b></p>
       <span class="formula">
         <p><i>Ā </i><span><sup><input type="text" id="vvod_ar_m" placeholder="m" class="vvod"></sup><sub><input type="text" id="vvod_ar_n" placeholder="n" class="vvod"></sub></span> = <output id="result_ar">Результат</output></p>
       </span>
       <input type="button" value="Вычислить" onclick="print_ar_res()">
     </div>
    </div>


    <body id="c">
  <div class="border">
    <div class="otstup">
    <p><b>Число сочетаний без повторений</b></p>
      <span class="formula">
        <p><i>C </i><span><sup><input type="text" id="vvod_c_m" placeholder="m" class="vvod"></sup><sub><input type="text" id="vvod_c_n" placeholder="n" class="vvod"></sub></span> = <output id="result_c">Результат</output></p>
      </span>
      <input type="button" value="Вычислить" onclick="print_c_res()">

      <br>
      <br>
      <br>

    <p><b>Число сочетаний с повторениями</b></p>
      <span class="formula">
        <p><i>C̄ </i><span><sup><input type="text" id="vvod_cr_m" placeholder="m" class="vvod"></sup><sub><input type="text" id="vvod_cr_n" placeholder="n" class="vvod"></sub></span> = <output id="result_cr">Результат</output></p>
      </span>
      <input type="button" value="Вычислить" onclick="print_cr_res()">
       <p align="right"><a href="/index">Назад</a>
   </div>
 </div>
</body>

 </body>
</html>
