<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Fact</title>
 </head>
 <body id="f">
   <div class="border">
     <div class="otstup">
     <p><b>Факториал</b></p>
     <br>

       <i>n! = 1 * 2 * ... * n</i>
       <br>
       <span class="formula">
         <p><input type="text" placeholder="n" class="vvod" id="vvod_p"><i>!</i> = <output id="result_p">результат</output></p>
       </span>
       <input type="button" value="Вычислить" onclick="print_p_res()">
     </div>
     <p align="right"><a href="/index">Назад</a>
    </div>
 </body>
</html>
